.cabecalho {

  background-color: #232323;  
  height: 50px;
  width: 100%;
} 

body {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    

}

ul {

    list-style: none;
}

ul li {
 
color: white;
display: inline;
}


.cabecalho nav {

    float: right;

}

li {

    margin: 0 20px;
    font-size: large;
}

span h2 {

    color: white;
    font-size: 25px;
    float: left;
    margin-top: 10px;
 
}

.caixa {
    max-width: 1300px;
    margin: 0 auto;
    
}

h2 {

    margin: 0;
    height: 0;
}

span b { 
    color: rgb(238, 75, 0); 
}

#home {
color: rgb(238, 75, 0);

}

.apresentacao {


background-image: url("team.png");
background-repeat: no-repeat;
background-size: cover;
min-height: 400px;
margin-top: 0;

}

.apresentacao  .caixa {

color: white;
text-align: center;

}

.apresentacao .caixa h1 {

    font-size: 40px;
    margin-top: 0px;
    padding-top: 30px;

  

}

.barra .caixa {

    max-width: 90%;
}


.barra {

background-color: #232323 ;
min-height: 100px;

}


.barra h2 {
    font-size: 30px;
    padding: 25px;

}

.barra button {

background-color: rgb(238, 75, 0) ;
color: white;
border: none;
}

.email {

    float: right;
    margin: 40px;
   
}

#quebra_linha {

    background-color:rgb(238, 75, 0)  ;
    min-height: 3px;

}


/*Início Missão, Visão e Valores*/


.dados_empresa {

background-color: white;
max-height: 400px;


}

.conteudo_dados_empresa  {

width: 100%;
margin: 0 auto;
width: 80%;
margin-top: 60px;
}

.visao {

    max-width: 200px;
    float: right;
    margin-right: 50px;
    
   
    }
    
    .valores {
        
    max-width: 200px;
    float: left;
    margin-left: 200px;
    
 
    
    }
    
    .missao {
        
    max-width: 200px;
    float: left;
    margin-left: 50px;
    
         }


#img_visao {

width: 100px;
margin-left: 50px;
margin-right: 50px;

    
}

#img_valores {

width: 100px;  
margin-left: 50px;
margin-right: 50px;


}


#img_missao {

width: 100px;  
margin-left: 50px;
margin-right: 50px;

}

.texto_empresa {

float: inline-end;
text-align: center;
}


/*Fim Missão, Visão e Valores*/

/*Início footer*/

.footer {


    background-color:rgb(238, 75, 0);
    height: 50px;
    margin-top: 280px;
    bottom:0;
    width:100%;
}

.conteudo_footer {

max-width: 50%;
text-align: center;
margin: 0 auto;
}

#texto_footer {
padding-top: 15px;
color: white;
}


/*Fim footer*/

