.cabecalho {

  background-color: #232323;  
  height: 50px;
  width: 100%;
} 

body {

    margin: 0;
    padding: 0;

}

ul {

    list-style: none;
}

ul li {
 
color: white;
display: inline;
}

.cabecalho nav {

    float: right;

}

li {

    margin: 0 20px;
    font-size: large;
}

span h2 {

    color: white;
    font-size: 25px;
    float: left;
    margin-top: 10px;
 
}

.caixa {
    max-width: 1300px;
    margin: 0 auto;
    max height: 50px;


}

h2 {

    margin: 0;
    height: 0;
}

span b { color: rgb(238, 75, 0); 


}

#home {
color: rgb(238, 75, 0);

}